:root {
    --primary-color: #af9fff;
    --primary-color-100: #e2d5f6;
    --primary-color-300: #a780e5;

    --secondary-color: #025834;
    --secondary-color-600: #025834;
    --secondary-color-900: #025834;

    --neutral-color: #e0e0e0;

    --background-color: #1b1b1b;

    --surface-color: #252525;

    --lobster-font: "Lobster Two", sans-serif;
    --DM-font: "DM Sans", sans-serif;
}

.center-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    background-color: var(--background-color);
    font-size: 16px;
}

* {
    font-family: var(--DM-font);
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

/*REM - Relative to the root font size (HTML).
PX - Absolute*/

h1 {
    color: var(--secondary-color-600);
    text-transform: uppercase;
    font-size: 2rem; /* xrem * xpx = xpx - 1rem * 16px = 16px */
}

h2 {
    font-family: var(--lobster-font);
    color: var(--primary-color);
    font-size: 1.8rem;
    letter-spacing: 0.06rem;
}

p {
    color: var(--neutral-color);
    line-height: 1.5rem;
    font-size: 1.1rem;
}