/*Small Screen*/
@media(max-width:640px){
    /*Style*/
    html {
        font-size: 10px;
    }

    header {
        flex-direction: column;
        height: min-content;
        padding: 2%;
    }

    .nav-option {
        flex-direction: column;
    }

    .hamburger-btn {
        display: inline-flex;
    }

    .hamburger-btn span {
        display: block;
        background-color: var(--neutral-color);
        height: 3px;
        width: 30px;
        margin: 6px auto;
    }

    /*Toggle Function*/
    #checkBox:not(:checked) ~ .nav-option {
        height: 0px;
        overflow: hidden;
    }

    #checked:checked ~ .nav-option {
        height: auto;
        overflow: auto;
    }

}

/*Medium Screen*/
@media((min-width:641px) and (max-width:1007px)){
    html {
        font-size: 14px;
    }
}
